/* header */
.logo{
    display: inline-block;
    margin-top: 4px;
    margin-left: 140px;
    margin-right: 119px;
    vertical-align: middle;
    
}
.navigation{
    display: inline-block;
    margin-top: 4px;
    vertical-align: middle;
}
.nav-li{
    display: inline-block;
    margin-right: 24px;
}

.nav-a{
    font-size: 18px;
    color: black;
}
.header{
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: white;
}
/* seciton1 */

.img1{
    width: 100%;
}
.img-wraper{
    margin-top: 97px;
    width: 100%;
    position: relative;
}
.text-wraper{
    position: absolute;
    top: 150px;
    left: 800px;
    width: 315px;
    height: 92px;
}
.text-img{
    position: absolute;
    color: white;
    font-size: 22px;
}
.text-img2{
    position: absolute;
    color: white;
    top: 180px;
    left: 840px;
    font-size: 48px;
}
